//Typography

$font-text: 'ProximaNovaRegular';
$font-title: 'Proxima Nova Extrabold';
$font-caption: 'Proxima Nova Semibold';
$font-size-text: 14px;
$h1-font-size: 80px;
$h2-font-size: 48px;
$font-size-zero: 0;
$font-size-shoptext: 24px;
$font-size-text-2: 15px;
$font-size-text-3: 16px;
$font-size-text-4: 17px;
$font-size-social: 20px;

//Colors
$white: #fff;
$black: #000;
$gray: #909090;
$gray-dark: #6c6c6c;
$gray-darken: #333;
$blue-desaturated: #6aa6ca;
$gray-darkest: #010101;
$gray-light: #c7c7c7;
